<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Student Dashboard</title>
  <link rel="stylesheet" href="{{url_for('static', filename='student_dashboard.css')}}">
</head>
<body>

  <div class="dashboard-container">

    <h2 class="dashboard-header">Student Dashboard</h2>

    <!-- Student Info -->
    <div class="student-info">
      <p><strong>Student Name:</strong> Divya K</p>
      <p><strong>Register Number:</strong> 2022UCS1045</p>
      <p><strong>Year of Studying:</strong> 3rd Year</p>
      <p><strong>Faculty Advisor:</strong> Surendhar R</p>
    </div>

    <!-- Leave History Header -->
    <h3 class="leave-history-header">Previous Leave Applications</h3>
    {% for leave in records %}
    <div class="leave-application">
      <p><strong>Leave Type:</strong>{{leave[1]}}</p>
      <p><strong>From:</strong> {{ leave[2] }}</p>
      <p><strong>To:</strong> {{ leave[3] }}</p>
      <p><strong>From Time:</strong>{{leave[4]}}</p>
      <p><strong>To Time:</strong>{{leave[5]}}</p>
      <p><strong>Reason:</strong> {{ leave[6] }}</p>
      <p><strong>Status:</strong>
        {% if leave[7] == 'Approved' %}
          <span class="leave-status-approved"><strong>{{ leave[7] }}</strong></span>
        {% elif leave[7] == 'Rejected' %}
          <span class="leave-status-rejected"><strong>{{ leave[7] }}</strong></span>
        {% else %}
          <span class="leave-status-pending"><strong>{{ leave[7] }}</strong></span>
        {% endif %}
      </p>
    </div>
  {% else %}
    <p>No leave applications found.</p>
  {% endfor %}
   

    <!-- Apply Leave Button -->
    <div class="apply-leave-btn">
      <button onclick="window.location.href='/leave_page'">Apply for Leave</button>
    </div>

  </div>

</body>
</html>
